<h1>Listing catogiries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @catogiries.each do |catogiry| %>
  <tr>
    <td><%= catogiry.name %></td>
    <td><%= catogiry.parent_id %></td>
    <td><%= link_to 'Show', catogiry %></td>
    <td><%= link_to 'Edit', edit_catogiry_path(catogiry) %></td>
    <td><%= link_to 'Destroy', catogiry, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Catogiry', new_catogiry_path %>
