<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>


  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= f.error_notification %>
    </div>
  <% end %>

  <div class="form-inputs">

    <legend>User Details</legend>

    <%= f.input :first_name, :input_html => { :class => "span4" },
      :hint => "add your first name here" %>

    <%= f.input :middle_name, :input_html => { :class => "span4" },
      :hint => "add your middle name here" %>

    <%= f.input :last_name, :input_html => { :class => "span4" },
      :hint => "add your last name here" %>

    <%= f.input :phone, :input_html => { :class => "span4" },
      :hint => "add your phone number here" %>


    <%= f.input :email, :input_html => { :class => "span4" },
      :hint => "add your email here" %>

    <%= f.input :password, :input_html => { :class => "span4" },
      :hint => "add your password here" %>

    <%= f.input :role, :collection => ['Subscriber','Broker','User'],
      :as => :radio_buttons, :item_wrapper_class => 'inline',
      :label => 'Role',
      :hint => "select the user role" %>


    <%= f.input :category, :collection => Catogiry.all.collect {|p| [ p.name, p.id ] },
      :item_wrapper_class => 'inline',
      :label => 'Category',
      :hint => "select the category" %>


    <%= f.input :game, :collection => Catogiry.all.collect {|p| [ p.name, p.id ] },
      :item_wrapper_class => 'inline',
      :label => 'Sub Category',
      :hint => "select sub category" %>

    <%= f.input :specialization, :collection => Catogiry.all.collect {|p| [ p.name, p.id ] },
      :item_wrapper_class => 'inline',
      :label => 'Service',
      :hint => "select Service" %>



    <%= f.input :account_status, :collection => ['Free','Premium'],
      :as => :radio_buttons, :item_wrapper_class => 'inline',
      :label => 'Account Status',
      :hint => "select the account status" %>

    <%= f.input :available, :input_html => { :class => "span2" },
      :hint => "add your available time here" %>

    <%= f.input :discount, :input_html => { :class => "span1" },
      :hint => "add your offer discount % here" %>

    <%= f.input :credentials, :input_html => { :class => "span4" },
      :hint => "add your credentials here" %>

    

    <legend> Address Details</legend><br/>

    <%= f.input :street_number, :input_html => { :class => "span4" },
      :hint => "add your street number here" %>

    <%= f.input :street_name, :input_html => { :class => "span4" },
      :hint => "add your street name here" %>

    <%= f.input :city, :input_html => { :class => "span4" },
      :hint => "add your city here" %>

    <%= f.input :state, :input_html => { :class => "span4" },
      :hint => "add your state here" %>

    <%= f.input :zipcode_1, :input_html => { :class => "span4" },:label => 'Zip Code',
      :hint => "add your Zip Code here" %>

    <%= f.input :zipcode_2, :input_html => { :class => "span4" },:label => 'Zip Code2',
      :hint => "add your Zip Code 2 here" %>


    <legend> Future Address details </legend><br/>

    <%= f.input :fu_street_number, :input_html => { :class => "span4" },:label => 'Future Street Number',
      :hint => "add your street number here" %>

    <%= f.input :fu_street_name, :input_html => { :class => "span4" },:label => 'Future Street Name',
      :hint => "add your street name here" %>

    <%= f.input :fu_city, :input_html => { :class => "span4" },:label => 'Future City',
      :hint => "add your city here" %>

    <%= f.input :fu_state, :input_html => { :class => "span4" },:label => 'Future State',
      :hint => "add your state here" %>

    <%= f.input :fu_zipcode_1, :input_html => { :class => "span4" },:label => 'Future Zip Code',
      :hint => "add your Zip Code here" %>

    <%= f.input :fu_from, :input_html => { :class => "span1" },:label => 'Future From Date',
      :hint => "add your From Date here" %>

    <%= f.input :fu_to, :input_html => { :class => "span1" },:label => 'Future To Date',
      :hint => "add your To Date here" %>

    <%= f.input :account_status, :collection => ['Yes'],
      :as => :radio_buttons, :item_wrapper_class => 'inline',
      :label => 'Accept Terms & Conditions',
      :hint => "Accept Terms & Conditions" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
