<div class="hero-unit">
    
  <%#= params[:search].inspect %>
  
    <%
    _arr = Array.new
    @locations_new.each do | loc_obj |
                    unless loc_obj.user_id.nil? or loc_obj.user_id.blank? then
                                  _arr << loc_obj.user_id
                    end
    end
    %>
          
  </p>
  
  <form method="post" name="myform" id="new_design_directory" action="/users/advanced_search">
    
    <legend>Search</legend> 
    
    
    <div class="control-group select required"><label class="select required control-label" for="_users_search_search_11045_Abbotts_Station_Drive_Johns_Creek_GA_category"><abbr title="required">*</abbr> Category</label><div class="controls"><select class="select required" id="_users_search_search_11045_Abbotts_Station_Drive_Johns_Creek_GA_category" name="cat"><option value=""></option>
          <option value="Home Maintenance">Home Maintenance</option>
    <option value="Construction">Construction</option></select></div></div>
    
    <div class="control-group select required"><label class="select required control-label" for="_users_search_search_11045_Abbotts_Station_Drive_Johns_Creek_GA_specialization"><abbr title="required">*</abbr> Service</label><div class="controls"><select class="select required" id="_users_search_search_11045_Abbotts_Station_Drive_Johns_Creek_GA_specialization" name="service"><option value=""></option>
          <option value="Plumber">Plumber</option>
          <option value="Appliance Repair">Appliance Repair</option>
          <option value="Garage Doors">Garage Doors</option>
    <option value="Electrician">Electrician</option></select></div></div>
    
    <div class="control-group select required"><label class="select required control-label" for="_users_search_search_11045_Abbotts_Station_Drive_Johns_Creek_GA_game"><abbr title="required">*</abbr> Sub Category</label><div class="controls"><select class="select required" id="_users_search_search_11045_Abbotts_Station_Drive_Johns_Creek_GA_game" name="subcat"><option value=""></option>
          <option value="General/Repair/Install">General/Repair/Install</option>
    <option value="Commercial">Commercial</option></select></div></div>
    
    <div class="control-group select required"><label class="select required control-label" for="_users_search_search_11045_Abbotts_Station_Drive_Johns_Creek_GA_preffered_zone"><abbr title="required">*</abbr> Preffered Zone Radious</label><div class="controls"><select class="select required span1" id="_users_search_search_11045_Abbotts_Station_Drive_Johns_Creek_GA_preffered_zone" name="radious"><option value=""></option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
          <option value="35">35</option>
          <option value="40">40</option>
          <option value="45">45</option>
    <option value="50">50</option></select></div></div>
    Location  <input class="round shadow" id="search" name="search" placeholder="Search Location" size="3000" type="text" value="<%= params[:search] %>" />
    <input type="submit" value="search" />
  </form>
  
  <% if _arr.length >= 1 then %>
    <legend>Search Results for : <%= @cat %> >> <%= @service %> >> <%= @subcat %></legend>
  
    <%
    count = 0 
    _arr.each do | _user |
    
          @u = User.find_by_id(_user) %>
          <%= @u.email %> <br/>
      
      
      <% end %>
     <% path = '/users/send_reminders?id='+_arr.uniq.to_s %>
       <%= link_to 'Send Messages', path , :class => 'btn btn-primary' %> <br/>
    <br/>
  
     <% else %>
    <b> No Results found. </b>
  <% end %>
 
</div>




<%= gmaps("markers" => {"data" => @json},
                      "map_options" => { "auto_adjust" => true, "minZoom" => 0},
                      "circles" => { "data" => @circles    , "options" => { "fillColor" => "#00FFFF", "strokeColor" => "#FF0000" } }
) %>

