<div class="hero-unit">
  <% current_user = User.find_by_id(session[:user]) %>
  <p>Welcome <b><%= current_user.first_name %></b>. You have registered as <b><%= current_user.role %></b> in our website.<br/>
    To Edit your profile and change your settings click on
    <% path = '/users/'+current_user.id.to_s+'/edit'%>
    <%= link_to 'Advanced Settings', path , :class => 'btn btn-primary' %> <br/><br/>
 
  <%
  _arr = Array.new
  @locations.each do | loc_obj |
              unless loc_obj.user_id.nil? or loc_obj.user_id.blank? then
                        _arr << loc_obj.user_id
              end
  end
  %>


    <br/>
    
      
  </p>

<%
    current_user = User.find_by_id(session[:user])
    url = '/users/search?search='+current_user.street_number.to_s+' '+current_user.street_name.to_s + ' ' + current_user.city.to_s + ' ' +current_user.state.to_s
    
%>
  
   <%= simple_form_for url, :html => { :class => 'form-horizontal' } do |f| %>
  

      
      <legend>Search</legend>
      
              <%= f.input :category, :collection => ['Home Maintenance','Construction'],
                      :item_wrapper_class => 'inline',
                      :label => 'Category' %>
      
              <%= f.input :specialization, :collection => ['Plumber','Appliance Repair','Garage Doors','Electrician'],
                      :item_wrapper_class => 'inline',
                      :label => 'Service'%>
          
                <%= f.input :game, :collection => ['General/Repair/Install','Commercial'],
                      :item_wrapper_class => 'inline',
                      :label => 'Sub Category'%>
                  
      <%= f.input :preffered_zone, :collection => ['5', '10', '15','20','25','30','35','40','45','50'],
             :item_wrapper_class => 'inline',
             :label => 'Preffered Zone Radious',:input_html => { :class => "span1" }
              %>
        
       <%= link_to '     Search      ', url , :class => 'btn btn-primary' %> <br/><br/>

  <% end %>
  
  
    
</div>




<%= gmaps("markers" => {"data" => @json},
                  "map_options" => { "auto_adjust" => true, "minZoom" => 0},
                  "circles" => { "data" => @circles    , "options" => { "fillColor" => "#00FFFF", "strokeColor" => "#FF0000" } }
) %>

