<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>


<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>

<p>
  <b>Category:</b>
  <%= @user.category %>
</p>

<p>
  <b>Game:</b>
  <%= @user.game %>
</p>

<p>
  <b>Skill level:</b>
  <%= @user.skill_level %>
</p>

<p>
  <b>Specialization:</b>
  <%= @user.specialization %>
</p>

<p>
  <b>Street number:</b>
  <%= @user.street_number %>
</p>

<p>
  <b>Street name:</b>
  <%= @user.street_name %>
</p>

<p>
  <b>Street direction:</b>
  <%= @user.street_direction %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>State:</b>
  <%= @user.state %>
</p>

<p>
  <b>Zipcode 1:</b>
  <%= @user.zipcode_1 %>
</p>

<p>
  <b>Zipcode 2:</b>
  <%= @user.zipcode_2 %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Fu street number:</b>
  <%= @user.fu_street_number %>
</p>

<p>
  <b>Fu street name:</b>
  <%= @user.fu_street_name %>
</p>

<p>
  <b>Fu street direction:</b>
  <%= @user.fu_street_direction %>
</p>

<p>
  <b>Fu city:</b>
  <%= @user.fu_city %>
</p>

<p>
  <b>Fu state:</b>
  <%= @user.fu_state %>
</p>

<p>
  <b>Fu zipcode 1:</b>
  <%= @user.fu_zipcode_1 %>
</p>

<p>
  <b>Fu from:</b>
  <%= @user.fu_from %>
</p>

<p>
  <b>Fu to:</b>
  <%= @user.fu_to %>
</p>

<p>
  <b>Blank field 1:</b>
  <%= @user.blank_field_1 %>
</p>

<p>
  <b>Blank field 2:</b>
  <%= @user.blank_field_2 %>
</p>

<p>
  <b>Blank field 3:</b>
  <%= @user.blank_field_3 %>
</p>

<p>
  <b>Blank field 4:</b>
  <%= @user.blank_field_4 %>
</p>

<p>
  <b>Blank field 5:</b>
  <%= @user.blank_field_5 %>
</p>

<% url = 'dashboard?search='+@user.street_number.to_s+' '+@user.street_name.to_s + ' ' + @user.city.to_s + ' ' +@user.state.to_s %>
<%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Back to Home', url %>

