<% if params[:q] then %>   
    <p class="signup-info"> <a class="btn btn-primary btn-large" href="/events">  Event looks good. Save this event   &raquo;</a>&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;
<% str = '/remove_event?eid='+params[:q]%>
    <a class="btn btn-primary btn-large" href=<%= str%>>Event does not look good. Create other event &raquo;</a>&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/> </p>
<% else %>

<%= form_tag locations_path, :method => :get do |f| %>
  <p>
    <%= text_field_tag :search, params[:search], :size => "800", :placeholder => "Search Location",:class => "round shadow" %>
    
    <%= submit_tag "Search Near By Location", :name => nil %>
  </p>
<% end %>

<% end %>


<%= gmaps("markers" => {"data" => @json},
          "map_options" => { "auto_adjust" => true, "minZoom" => 0},
          "circles" => { "data" => @circles    , "options" => { "fillColor" => "#00FFFF", "strokeColor" => "#FF0000" } }
) %>

