<!DOCTYPE html>
<html>
<head>
  <title>Maps app</title>
  <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag "gmaps4rails" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "gmaps4rails.base" %>
  <%= javascript_include_tag "gmaps4rails.bing" %>
  <%= javascript_include_tag "gmaps4rails.googlemaps" %>
  <%= javascript_include_tag "gmaps4rails.mapquest" %>
  <%= javascript_include_tag "gmaps4rails.openlayers" %>
</head>
<body>
  <header class="navbar navbar-fixed">
    <div class="navbar-inner">
     
      <div class="container">
        <a class="brand" href="#">Maps Application</a>
        <ul class="nav">
          <li><%= link_to "Home", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle='dropdown'>
              Users
              <b class='caret'></b>
            </a>
            <ul class="dropdown-menu">
             
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle='dropdown'>
              Events
              <b class='caret'></b>
            </a>
            <ul class="dropdown-menu">
              
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </header>
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <% if session[:user] then %>
            <a class="brand" href="#">@Maps</a>
          <% else %>
            <a class="brand" href="#">@Maps</a>
          <% end %>
          <div class="nav-collapse">
            <ul class="nav">
              <% if session[:user] then %>
                <li class="active"><a href="#">Home</a></li>
               
                <li><a href="/logout">Logout</a></li>
              <% else %>
                <li class="active"><a href="#">Home</a></li>
                
                <li><a href="#contact">Contact</a></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  <div class="container master-container">
  <!--  <div class='alert alert-info fade in' data-alert='alert'>
      <a class="close" data-dismiss='alert' href="#">×</a>
   
      <p>Please add users and events and navigate as accordingly for Application. </p>
 </div> -->

    <% if notice %>
      <div class="alert alert-success fade in" data-alert="alert">
        <a class="close" data-dismiss='alert' href="#">×</a>
        <p><%= notice %></p>
      </div>
    <% end %>

    <%= yield %>
  </div>
  <footer class="container">
    <%= yield :scripts %> 
  </footer>
  
</body>
</html>
